<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

<form action="/delete" method="post">
  <input type="hidden" name="spacecheck" value=<%=listTitle%>>
  <div class="box">
    <% for (let i=0; i<newListItems.length; i++) { %>
      <div class="item">
        <input type="checkbox" name="checkbox" value=<%= newListItems[i]._id %> onChange="this.form.submit()">
        <p><%=  newListItems[i].name %></p>
      </div>
      <% } %>
</form>
      <form class="item" action="/add" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off" autofocus>
        <input type="hidden" name="space" value=<%=listTitle%>>
        <button type="submit" name="list">+</button>
      </form>
  </div>

<%- include("footer") -%>
